html,body {
	font-family       : "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	line-height       : 2;
	margin            : 20px;
	padding           : 20px;
	background        : linear-gradient( #CE79B2, #E8F891) no-repeat center center fixed;
}

.wrap{
	overflow          :hidden;
}

.side{
	background-color  : #7192B7;
  margin-bottom     : -500em;
  width             : 30%;
  float             : left;
  padding-bottom    : 500em;
}

.side nav ul{ 
	padding           : 20px;
}

.side nav ul li{ 
	list-style        : none;
	margin            : 6px;
	padding           : 7px; 
	background-color  : #fff;
	border-bottom     : 2px solid #000;
	box-shadow        : 2px 2px 4px black ;
	text-align        : center;
}

.side nav ul li a{ 
	background-color  : #fff;
	color             : black; 
	width             : 100%;
	text-decoration: none;	
}

.social { 
	background-color : #E4E6D7; 
	margin : 0; 
	padding : 12px 0 6px 0; 
	text-align : center; 
	box-shadow : 2px 2px 4px black ;
	border-bottom : 2px solid #000;
} 

.social a { 
	text-decoration: none; 
	padding: 4px; 
	display: inline;
}

.social img {
  background-color: #eaeaea;
	border-radius: 180px;
	border:3px solid #888;
	box-shadow: 5px 5px 6px #000000;
}

.content{
	background-color  : #E4E6D7;
  padding-bottom    : 500em;
  margin-bottom     : -500em;
  width             : 70%;
  float             : left;
	text-shadow       : 3px 3px 6px #fff;
} 

.content a { 
	text-decoration   : none; 
	background-color  : #304966;
	color             : white; 
	padding           : 6px;
	border-radius     : 6px;
}

.inner {
	clear: both;
	padding: 20px;
	margin: auto;
}

.three{
	padding: 20px;
	width: 25.33%;
	float: left;
	display: block;
	background-color: inherit;
} 
.three a { 
	text-decoration: none; 
	background-color: inherit; 
} 
  
.three h2 { 
	text-align: center; 
	padding: 12px; 
} 
  
.three p { 
	padding: 12px; 
}

.tags {
  text-decoration   : none; 
	background-color  : #ffffff;
	color             : blue; 
	padding           : 3px;
	margin            : 1px;
	text-shadow       : none;
	font-size         : 0.88rem;
}

.show {
  width      : 28%;
	padding    : 12px;
	margin     : 3px;
	box-shadow : 5px 5px 6px black;
	background : linear-gradient(#7192b7, #ffffff) no-repeat center center fixed;
}